@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.particles-bg {
  z-index: -100;
}

@media (min-width: 1025px) {
  .section-1 {
    height: 83.333333vh;
  }
}

@media (max-width: 1024px) {
  .section-1 {
    height: 83.333333vh;
  }
}

@media (max-width: 768px) {
  .section-1 {
    height: 83.333333vh;
  }
}

@media (max-width: 640px) {
  .section-1 {
    height: 60vh;
  }
}
